$prism-charcoal: #434A50;
$prism-dark: #005285;
$prism-light: #D0EDFF;
$prism-prime: #0C75B7;
$prism-yellow: #FFCE2B;
$text-lgrey: #D4D4D4;
$text-dgrey: #5d5d5d;
$border-light: #D8D8D8;
$border-dark: #979797;


.prism-border {
    border-bottom: $prism-dark solid 1px;
    
}

//LAYOUTING COLOURS
.pink-border {
    border: solid 1px pink;
}
.orange-border {
    border: solid 1px orange;
}
.teal-border {
    border: solid 1px teal;
}

//Text Styles
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.label-text {
color: $text-lgrey;
font-size: 15px;
text-align: left;
}
.text-inner-shadow {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

//Global shadow
.frame-box-shadow {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}