@import "./_theme";

.nav-bar-wrapper{
    
    margin-top: 50px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-content: center;

}

.nav-second-column {
    display: flex;
    flex-grow: 2;
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 0px 5px;
}




