.task-card-wrapper {
    background-image: url('../ghost_screens/Organism/task-card.png');
    background-color: rgba(255,255,255, .8);
    background-repeat: no-repeat;
    margin: 35px 0px 35px 0px;
    width: 720px;
    height: 128px;
}