@import "./_theme";

.task-card-wrapper {
    // background-image: url('../ghost_screens/Organism/tc_never_assigned.jpg');
    background-color: rgba(255,255,255, .2);
    background-repeat: no-repeat;
    
    margin: 35px 0px 35px 0px;
    width: 720px;
    height: 128px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: $border-dark solid 1px;
    border-radius: 10px;
    
}

.task-first-column {
 padding: 5px 0px 0px 15px;
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 justify-content: flex-start;
}
.process-name {
    margin: 0px 0px 0px 0px;
    color: $text-dgrey;
    font-weight: 400;

    border-bottom: $border-light solid 1px;
}

.task-second-column {
    border-left: $border-dark solid 1px;
    z-index: 0;
    width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    text-align: center;
}
.play-pause {
    position: fixed;
    z-index: -3;
    margin-top: 46px;
    margin-left: -19px;
}

.workers-assigned {
    margin: 5px 0px 5px 0px;
    color: $text-black;
    font-weight: 300;  
}

.workers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.plus-minus {
    display: flex;
   flex-direction: column;
   justify-content: center;
}
.workers-number {
    color: $text-black;
    font-weight: 600; 
    font-size: 1.3em;
    
}

.assigned-status-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: $prism-dark;
    border-radius: 0px 0px 10px 0px;
}
.assigned-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: $text-white;
    font-size: 1.2em;
}

.details-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}
.details-bar-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   margin-bottom: 5px;
}





