@import "./_theme";

.search-form-wrapper {
    display: flex;
    flex-direction: row;
}
.search-second-column{
    display: flex;
    flex-direction: column;
}
.search-input {
    border-top: 0px solid 
}