@import "./_theme";

.search-form-wrapper {
    display: flex;
    flex-direction: row;
}
.search-second-column{
    display: flex;
    flex-direction: column;
}
.search-input {
    height: 24px;
    border-bottom: $border-light 1px solid ;
    border-top: $border-light 0px solid ;
    border-left: $border-light 0px solid ;
    border-right: $border-light 0px solid ;

}