@import "./_theme";

.priority-drop-menu-wrapper {
    display: flex;
    width: 258px;
    height: 138px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;  
    background-color: white;
}
.heading {
    height: 54px;
    font-size: 1.4em;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../svg/drop_menu_wht.svg');
    background-repeat: no-repeat;
    
    color: $prism-prime;
}

.animated-text {
    opacity: 1;
    animation-name: opacity-animation;
    animation-duration: 2s;
}


.three-star-buttons{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: $prism-dark solid 1px;
    border-right: $prism-dark solid 1px;
    border-bottom: $prism-dark solid 1px;
    border-radius: 0px 0px 10px 10px;
   
}

.star-button {
    width: 72px;
    height: 72px;
    background-image: url('../svg/star_big_off.svg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-dgrey;
    font-size: .7em;
    letter-spacing: 0px;

    border: none;
    background-color: transparent;
    transition: background-image .5s;
    -webkit-transition: background-image .5s;
}

.star-button:hover {
    background-image: url('../svg/star_big_on.svg');
    color: $prism-dark;
    text-shadow: $text-outer-glow;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}



.bg-star-active{
    background-image: url('../svg/star_big_on.svg');
    
}