
.App {
  text-align: center;
  
}
.main-column{
  background-image: url('./ghost_screens/whole_screen.jpg');
  width: 80%;

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


